body {
  font-family: "Century Gothic", sans-serif;
}
.columns{
<<<<<<< HEAD
  padding: 5;
  margin: 0;
}

.title{
  padding: 10;
  margin: 10;
  background-color: #CCCCCC;
=======
  padding: 5 5 5 5;
}

.callout{
  padding: 5 5 5 5;
>>>>>>> 682cecdfc7576750dd4358b50380ac80ed70a22c
}

.button{
  font-family: 'Century Gothic', sans-serif;
  font-size: 20px;
  padding: 0 0 0 0;
}
