<html>
<head>

<title>Jesse Knight | __pagename__</title>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.js"></script>
<link   rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.css">
<link   rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

<script src="../matlab-highlighter.js"></script>
<link   rel="stylesheet" href="../custom.css">

</head>
<body>
  <div id='navbar' class='small-12 medium-3 large-2 columns'
       style='background-color:#333333; padding: 5 5 5 5;'>
    __navbar__
  </div>
  <div id='content' class='small-12 medium-9 large-10 columns'
       style='background-color:#F5F5F5; padding: 5 5 5 5; min-height:100%'>
    __content__
  </div>
</body>
</html>
